<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">


    <link rel="stylesheet" type="text/css"  href="/css/home.css">
    <title>Project manager</title>
</head>


<body>



<div class="container ">
    <div class="row ">
        <div class="col-md-6 bg-white shadow border p-5 offset-md-3">

            <h2 class="text-center mb-4">Login</h2>
            <!-- form -->
            <form action="/auth/login" method="post">
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-danger mb-2">Log in</button>
            </form>
            <a href="/registerPage"  class="d-block mb-3">Go to register</a>
            <a href="/" class="text-dark"><i class="fa-solid fa-2xl fa-arrow-left"></i></a>
        </div>
    </div>
</div>










<script src="/javascript/index.js"></script>

<!--fontawesome-->
<script src="https://kit.fontawesome.com/a0f7adf235.js" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

</body>
</html>
